<div class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet conse
            ctetur adipisicing elit. Dolores libero r
            em fugiat dolor, voluptatibus atque consectetur sint
            esse molestias ex illo. Suscipit animi nihil illum fugit
            , dolorem facilis aliquid voluptas.
        </p>
    </div>
</div>