<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App nodeJS - MongoDB </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, fuga?</p>
    <a href="#" class="btn btn-primary btn-lg">Algo random</a>
</div>